body {
    background-color: white;

}

.darkT {
    background-color: black;
    color: white;
}

.largeT {
    font-size: 2em;
}


header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
};

.navbar {
    align-self: center;
    margin: 20px;
    background-color: white;
    opacity: 1;
    border: solid black, 3px;

};

 .messageBoard {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.messageBoard h2 {
    margin-top: 100px;
}

.messageBoard textarea {
    align-self: center;
    margin-left: 10%;
    margin-right: 10%
} 
/* 
 #checkbox1:checked ~ header{
    background-color: black;
    color: white;
}  */






